<section class="our_offer section_padding">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <h4 style="color: black">Product</h4>
          </div>
        </div>
        <hr />
      </div>
      <div class="col-lg-12">
        <form [formGroup]="product" (ngSubmit)="submit(product.value)">
          <input type="hidden" name="id" formControlName="id" />
          <div class="form-group row">
            <div class="col-lg-12">
              <label for="">Name : </label>
              <input
                type="text"
                class="form-control"
                name="name"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12">
              <label for="">Description : </label>
              <textarea
                class="form-control"
                name="description"
                formControlName="descriptions"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <label for="">MRP : </label>
              <input
                type="number"
                class="form-control"
                name="mrp"
                formControlName="mrp"
              />
            </div>
            <div class="col-lg-6">
              <label for="">Price : </label>
              <input
                type="number"
                class="form-control"
                name="price"
                formControlName="price"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <label for="">Sizes : </label>
              <br />
              <label class="col-sm-2" *ngFor="let size of available_sizes; let i = index;" style="cursor: pointer"
                ><input type="checkbox" id="size{{ i }}" name="sizes" value="{{ size }}" (change)="sizeChanged()" />
                {{ size }}</label
              >
            </div>
            <div class="col-lg-6">
              <label for="">Colors : </label>
              <br />
              <label class="col-sm-2" *ngFor="let color of available_colors; let i = index;" style="cursor: pointer"
                ><input
                  type="checkbox"
                  id="color{{ i }}"
                  name="colors"
                  value="{{ color }}"
                  (change)="colorChanged()"
                />
                {{ color }}</label
              >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <label for="">In Stock : </label>
              <select
                class="form-control"
                name="instock"
                formControlName="instock"
              >
                <option value="">Select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="">Status : </label><br />
              <label class="col-sm-4" style="cursor: pointer"
                ><input
                  type="radio"
                  id="statusOpen"
                  name="status"
                  formControlName="status"
                  value="open"
                />
                Open</label
              >
              <label class="col-sm-4" style="cursor: pointer"
                ><input
                  type="radio"
                  id="statusClose"
                  name="status"
                  formControlName="status"
                  value="close"
                />
                Close</label
              >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-6">
              <label for="">SKU : </label>
              <input
                type="text"
                class="form-control"
                name="sku"
                formControlName="sku"
              />
            </div>
            <div class="col-lg-6">
                  <label for="">Image : </label><br />
                  <input type="file" class="form-control" accept="image/png, image/jpeg" (change)="handleUpload($event)" />
              </div>
          </div>
          <button
            type="submit"
            [disabled]="!product.valid"
            class="btn btn-success"
          >
            Save</button
          ><br /><br />
        </form>
      </div>
    </div>
  </div>
</section>
