<section class="feature_part padding_top">
  <div class="container">
    <div class="row rounded">
      <div class="col-lg-12">
        <h1>Subscriptions</h1>
        <hr />
      </div>
    </div>
    <div class="col-lg-12">
      <table class="table table-hover">
        <tr>
          <th>SN</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let s of subscription; let i = index">
          <td class="align-middle">{{ i + 1 }}</td>
          <td class="align-middle">{{ s.email }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
